@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.buttons span{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1{
  font-size: 1.4rem;
}
.card {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #3b3b3b;
  justify-content: space-between;
  margin-bottom:15px;
}
.card_image {
  width: 60px;
  height: 60px;
  flex: none;
}
.card_image img{
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.card button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  align-self: center;
  border-radius: .4rem;
}